{% extends 'base.html' %}
{% load static %}

{%block body %}
<div class="jumbotron m-5">
    <div class="container  d-sm-none" style="border-radius: 10px;">
        <h1 class="display-6">About Us</h1>
        <hr>
        <p class=" text-justify">Welcome to the University Grievances System, We understand that your academic journey is of utmost importance,
            and we are committed to ensuring that your experience at our institution is as smooth and fulfilling as
            possible. However, we also acknowledge that concerns and issues may arise during your time here. To address
            these concerns and provide a platform for your voice to be heard, we have established the Student
            Grievances System.</p>
    </div>
    <div class="container  d-none d-sm-block" style="border-radius: 10px;">
        <h1 class="display-4">About Us</h1>
        <hr>
        <p class=" text-justify font">Welcome to the University Grievances System, We understand that your academic journey is of utmost importance,
            and we are committed to ensuring that your experience at our institution is as smooth and fulfilling as
            possible. However, we also acknowledge that concerns and issues may arise during your time here. To address
            these concerns and provide a platform for your voice to be heard, we have established the Student
            Grievances System.</p>
    </div>
</div>

{% endblock %}