
<!-- <div class="jumbotron m-5">
  <div class="container">
    <h1 class="display-4">Signup</h1>
    <form name="registrationform" id="registrationform" method="Post" action="{% url 'register_user %}">
      {% csrf_token %} {{ form.as_p }}
      <div class="d-flex align-items-center mb-3 pb-1">
        <i
          class="fas fa-cubes fa-2x me-3"
          style="color: rgb(197, 167, 241)"
        ></i>
        <span class="h1 fw-bold mb-0">UGS</span>
      </div>

      <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
        Register your account
      </h5>

      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <input
              type="text"
              id="firstName"
              class="form-control form-control-lg"
              name="first_name"
              required
            />
            <label class="form-label" for="firstName">First Name</label>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <input
              type="text"
              id="lastName"
              class="form-control form-control-lg"
              name="last_name"
              required
            />
            <label class="form-label" for="lastName">Last Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <input
              type="password"
              class="form-control form-control-lg"
              id="password"
              name="password"
              required
            />
            <label for="password" class="form-label">Password</label>
            <i class="toggle-password fa fa-fw fa-eye-slash"style="color:blue"></i>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <h6 class="mb-2 pb-1">Gender:</h6>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="femaleGender"
              value="female"
              checked
            />
            <label class="form-check-label" for="femaleGender">Female</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="maleGender"
              value="male"
            />
            <label class="form-check-label" for="maleGender">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="otherGender"
              value="other"
            />
            <label class="form-check-label" for="otherGender">Other</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-outline">
            <input
              type="email"
              id="emailAddress"
              class="form-control form-control-lg"
              name="email"
              required
            />
            <label class="form-label" for="emailAddress">Email</label>
          </div>
        </div>
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-outline">
            <input
              type="tel"
              id="phoneNumber"
              class="form-control form-control-lg"
              name="phone_number"
              required
            />
            <label class="form-label" for="phoneNumber">Phone Number</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-outline">
            <input
              type="text"
              id="username"
              class="form-control form-control-lg"
              name="username"
              required
            />
            <label class="form-label" for="username">Username</label>
          </div>
        </div>
        <div class="col-md-6">
          <select
            class="form-select form-select-lg"
            id="userType"
            name="user_type"
            required
          >
            <option value="" disabled selected>Choose option</option>
            <option value="Srudent">Student</option>
            <option value="Teaching Staff">Teaching Staff</option>
            <option value="Non-teaching Staff">Non-teaching Staff</option>
          </select>
          <label class="form-label select-label" for="userType"
            >Choose option</label
          >
        </div>
      </div>

      <div class="mt-4 pt-2">
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div> -->