{% extends 'base.html' %}
{% load static %}

{%block body %}
    <div class="jumbotron m-5">
        <div class="container">
            <h1>   University Grievance System Guidelines </h1>
        </div>
        <hr>
    </div>
    <div class="jumbotron m-3">
        
            <h5> 1. Purpose: </h5>
            <p class="text-justify ">The grievance system is designed to address and resolve concerns related to university matters. Please use this platform responsibly and only for legitimate grievances.</p><hr>
            <h5> 2. Eligibility:</h5>
            <p class="text-justify ">The grievance system is open to all students, faculty, and staff of the university. Ensure that you provide accurate personal information to facilitate the resolution process.</p><hr>
            <h5> 3. Confidentiality:</h5>
            <p class="text-justify ">All information provided in the complaint form will be treated with the utmost confidentiality. Only authorized personnel involved in the grievance resolution process will have access to the details.</p><hr>
            <h5> 4. Clarity and Specificity:</h5>
            <p class="text-justify ">Clearly outline the details of your grievance. Provide specific incidents, dates, and individuals involved to facilitate a thorough investigation and resolution.</p><hr>
            <h5> 5. Respectful Communication:</h5>
            <p class="text-justify ">Use respectful language when describing your grievance. Avoid offensive or inappropriate language, as it may hinder the resolution process.</p><hr>
            <h5> 6. Timely Submission:</h5>
            <p class="text-justify ">File your grievance in a timely manner. Delays in reporting may affect the effectiveness of the resolution process..</p><hr>
            <h5> 7. Non-Retaliation:</h5>
            <p class="text-justify ">The university prohibits any form of retaliation against individuals filing grievances in good faith. Report any incidents of retaliation promptly.</p><hr>
            
            <h5> 8. Multiple Complaints:</h5>
            <p class="text-justify ">If you have multiple grievances, submit a separate complaint form for each issue to ensure clarity and a focused resolution process.</p><hr>
            
            <h5> 9. Follow-up:</h5>
            <p class="text-justify ">Keep track of your complaint status. You may receive updates or requests for additional information from the university during the resolution process.</p><hr>
            
            <h5> 10. Anonymous Complaints:</h5>
            <p class="text-justify ">While we encourage openness, anonymous complaints will be accepted. However, providing your identity may aid in a more efficient resolution.</p><hr>
            
            <h5> 11. False Complaints:</h5>
            <p class="text-justify ">Filing a false or misleading complaint is strictly prohibited and may lead to disciplinary action.</p>
            <h5> 12. Resolution Timeframe:</h5>
            <p class="text-justify ">Understand that the resolution process may take time. The university is committed to a fair and thorough investigation to address the grievance appropriately.</p><hr>
            
            <h5> 13. Appeals Process:</h5>
            <p class="text-justify ">If dissatisfied with the resolution, information regarding the appeals process will be provided. Follow the outlined procedure for seeking further review.</p><hr>
            
            <a href="/profile" class="btn btn-dark">Back</a>
        
    </div>

   
{% endblock %}