{% extends 'base.html' %}
{% load static %}

{%block body %}
{% if user.is_authenticated %}
<section
  class="p-5"
  style="
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  "
>
<div style="margin-left: 90%;">
  <a href="/notice" class="btn btn-danger ml-2 mb-2">Notice</a>
</div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img
          
            src="{% if user_data.gender == 'male' %}{% static 'img/male.jpg' %}{% else %}{% static 'img/female.jpg' %}{% endif %}"
            alt="avatar"
            class="rounded-circle img-fluid"
            style="width: 150px"
          />
          <h5 class="my-3">{{ user_data.user.username }}</h5>
          <p class="text-muted mb-2">{{ user_data.user.email }}</p>
          <p class="mb-1">{{ user_data.user_type }}</p>
          <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-warning">Edit Profile</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 mt-lg-4">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ user_data.user.first_name }} {{ user_data.user.last_name }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user_data.user.email }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Phone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user_data.phone_number }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">User</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user_data.user_type }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Gender</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user_data.gender }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
            {% if user_notice %}
            <!-- Display the notice details only when the user has any notices -->
            {% for notice in user_notice %}
            <div class="card mt-2">
                <div class="card-body">
                    <div class="d-flex flex-start align-items-center">
                        <!-- Replace 'Admin' with the actual source of the notice -->
                        <img class="rounded-circle shadow-1-strong me-3 m-2"
                            src="{% static 'img/admin.jpg' %}" alt="avatar" width="60"
                            height="60" />
                        <div>
                            <h6 class="fw-bold text-primary mb-1">Admin</h6>
                            <p class="text-muted small mb-0">
                                Complaint Title- {{ notice.complaint.title }}
                            </p>
                        </div>
                    </div>

                    <p class="mb-0 text-justify">
                        {{ notice.notice_content }}
                    </p>
                </div>
                <hr>
                <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                    <div class="d-flex flex-start w-100">
                        <img class="rounded-circle shadow-1-strong me-3 m-1"
                            src="{% if user_data.gender == 'male' %}{% static 'img/male.jpg' %}{% else %}{% static 'img/female.jpg' %}{% endif %}" alt="avatar" width="40"
                            height="40" />
                            <div class="form-outline w-100">
                              {% if user_responses %}
                                  <!-- Display the submitted response -->
                                  {% for response in user_responses %}
                                  <p>{{ response.response }}</p>
                              {% endfor %}
                              {% else %}
                                  <!-- Display the response form when the user has not submitted a response -->
                                  <form action="" method="POST">
                                      {% csrf_token %}
                                      {{ response_form.as_p }}
                                      <input type="text" name="notice_id" value="{{ notice.id }}" hidden/>
                                      <input type="submit" value="Reply" class="btn btn-primary">
                                  </form>
                              {% endif %}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <!-- Display a message when the user has no notices -->
            <p>No notices available.</p>
            {% endif %}
        </div>
    </div>
</div>
  
</section>
{% else %}
<div class="container alert alert-danger" role="alert">
  <img src="{% static 'img/pnf.png'%}" alt="" class="img-fluid" />
</div>

{% endif %}

 {% endblock %}