{% extends 'base.html' %} {% load static %} {% block body %} 
{% if form.errors %}
  
    <div class="alert alert-danger" role="alert">
      <p>There was an error with the your form...</p>
    </div>
  
{% endif %}
<div class="jumbotron m-5">
  <div class="container">
    <h1 class="display-4">Signup</h1>
    <form action="{% url 'register_user' %}" method="POST">
      {% csrf_token %} 
      <div class="d-flex align-items-center mb-3 pb-1">
        <i
          class="fas fa-cubes fa-2x me-3"
          style="color: rgb(197, 167, 241)"
        ></i>
        <span class="h1 fw-bold mb-0">UGS</span>
      </div>

      <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
        Register your account
      </h5>      
      {{ form }}
      <div class="mt-4 pt-2">
        <input class="btn btn-primary btn-lg" type="submit" value="Register" />
      </div>
    </form>
  </div>
</div>


{% endblock %}
